body {
   height: 300vh;
   
}

.exemplo {
width: 200px;
height: 200px;
line-height: 200px;
color: white;
text-transform: uppercase;
text-align: center;
cursor: pointer;

}

.exemplo1{
    background-color: blue;
    }

.exemplo2{
    background-color: red;
}

.exemplofinal{
    background-color: green;
}

.exemplointerno{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: yellow;

}


