body {
   height: 300vh;
   
}

.exemplo {
width: 200px;
height: 200px;
line-height: 200px;
color: white;
text-transform: uppercase;
text-align: center;
cursor: pointer;

}

.exemplo1{
    background-color: blue;
    position: absolute;
    right: 0;
    }

.exemplo2{
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.exemplofinal{
    position: relative;
    background-color: green;
}

.exemplointerno{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: yellow;
    position: absolute;
    transform: translate(50%, 50%);
}


